<section>
  <div class="grid grid--1x2 container article-block">
    <ul class="article">
      <div class="article__content">
        <a class="article__anchor article__content1">
          <li class="article__content article__content1">
            <h4>Track Legislation</h4>
            <p>
              Never miss a mention of your issues across legislation, dialogue
              and documents at the Federal, State, and European levels.
            </p>
          </li>
        </a>
      </div>
      <div class="article__content">
        <a href="#" class="article__anchor article__content2">
          <li class="article__content">
            <h4>Menage Stakeholder Relationships</h4>
            <p>
              A one-step shop to manage your contacts, build new relationships,
              and engage in stakeholders
            </p>
          </li>
        </a>
      </div>
      <div class="article__content">
        <a href="#" class="article__anchor">
          <li class="article__content article__content3">
            <h4>Drive Grassroots Actions</h4>
            <p>
              Acquire, educate, and activate advocates with quick-to-create,
              custom action centers to move to the needle on your issues
            </p>
          </li>
        </a>
      </div>
    </ul>
    <img src="images/cool pic.jpg" alt="" class="article__image" />
  </div>
</section>
