<div class="container grid grid--1x2 card">
  <div class="card__object card--primary card__grid">
    <div class="card__flex">
      <h2 class="card--primaryh2">Resource</h2>
      <h3 class="card--primaryh3">
        Government Relations Strategic Plan Template
      </h3>
      <button
        class="input__button button--color button__card button--primary"
        type="button"
      >
        Get Template
      </button>
    </div>
  </div>
  <div class="card__object card--secondary">
    <div class="card__flex__secondary">
      <h2 class="card--secondaryh2">Resource</h2>
      <h3 class="card--secondaryh3">
        Seven examples of Effective Grassroots Advocacy Campaigns
      </h3>
      <button
        class="input__button button--color button__card button--secondary"
        type="button"
      >
        View Article
      </button>
    </div>
  </div>
  <div class="card__object card--accent">
    <div class="card__flex__secondary">
      <h2 class="card--accenth2">Resource</h2>
      <h3 class="card--accenth3">
        Five Strategies for Measuring the ROI of Government Affairs
      </h3>
      <button
        class="input__button button--color button__card button--accent"
        type="button"
      >
        View Resource
      </button>
    </div>
  </div>
</div>
