<footer class="footer container">
  <div class="footer__flex">
    <div class="footer__section">
      <div class="website__icon">
        <img src="images/navicon.svg" alt="" />
        <h3 class="website__header">Quorum</h3>
      </div>
      <div class="footer__address">
        <p class="footer__address__no__decoration">
          One Thomas Circle NW, 6th Floor
        </p>
        <p class="footer__address__no__decoration">Washington, DC 20005</p>
        <p><a href="https://www.xvideos.com">(202)972-9980</a></p>
        <p><a href="https://www.pornhub.com">info@quorum.us</a></p>
        <p class="footer__address__second footer__address__no__decoration">
          Square de Meeus 35
        </p>
        <p class="footer__address__no__decoration">1000 Brussels - Belgium</p>
        <p><a href="https://www.nhentai.org">+3223351218</a></p>
        <p>
          <a href="https://www.leagueoflegends.com">info@quorumeu.com</a>
        </p>
      </div>
      <div class="footer__icons">
        <img src="images/facebook.svg" alt="" class="footer__icon__facebook" />
        <img src="images/linkedin.svg" alt="" class="footer__icon__linkedin" />
        <img src="images/twitter.svg" alt="" class="footer__icon__twitter" />
      </div>
    </div>
    <div class="footer__grid">
      <div class="footer__section">
        <h2>Solutions</h2>
        <p>Bill $ Legislative Tracking Software</p>
        <p>Regulatory Tracking Software</p>
        <p>Grassroots Advocacy Software Solutions</p>
        <p>Stakeholder Management & Engagement Software</p>
        <p>Media Monitoring Software</p>
        <p>PAC Management Software</p>
        <p>Visual Reporting Software</p>
        <p>Gvernment Software Solutions</p>
      </div>
      <div class="footer__section">
        <div class="footer__products__about">
          <div>
            <h2>Products</h2>
            <p>Federal</p>
            <p>State</p>
            <p>Grassroots</p>
            <p>Stakeholder</p>
            <p>Local</p>
            <p>Communications</p>
            <p>News Monitoring</p>
            <p>International</p>
            <p>European Union</p>
            <p>Quorum Mobile</p>
          </div>
          <div class="footer__products__about__flex__stretch">
            <h2>About</h2>
            <p>Company</p>
            <p>Careers</p>
            <p>Press</p>
            <p>Security</p>
          </div>
        </div>
      </div>
      <div class="footer__section top__content">
        <h2>Top Content</h2>
        <p>Government Relations Strategic Plan Template</p>
        <p>Advocacy Strategy Plan Template</p>
        <p>Public Affairs Strategy Template</p>
        <p>Download & Build an Effective Stakeholder Engagement Matrix</p>
        <p>Three Examples of Effective Government Relations Strategy</p>
        <p>Three Examples of Successful Public Affairs Strategy</p>
        <p>Seven Examples of Effective Grassroots Advocacy Campaigns</p>
        <p>Five Examples of Stakeholder Engagement Strategy</p>
        <p>10 Innovations in Public Affairs Strategy</p>
      </div>
    </div>
  </div>
  <div>
    <div class="footer__button__text">
      <h3>Sign up to recieve best practices and product announcements.</h3>
      <div class="input-group">
        <input
          type="email"
          class="input__field"
          placeholder="Enter your work email"
        />
        <button
          class="input__button__position input__button button--color"
          type="button"
        >
          Submit
        </button>
      </div>
    </div>
  </div>
  <div>
    <div class="footer__legal__text">
      <div class="footer__line"></div>
      <p>
        © 2022 Quorum Analytics, Inc. All Rights Reserved. Quorum Analytics is
        not affiliated with, licensed, endorsed, or sponsored by Leidos
        Innovations Technology or its affiliates.<span class="footer__privacy"
          >Privacy Policy</span
        >
      </p>
    </div>
  </div>
</footer>
