<section class="container image-hyperlinks">
  <div class="image-hyperlinks__text">
    <h2 class="image-hyperlinks__heading">quorum products</h2>
    <h3>Powerful Products to Simplify Your Public Affairs</h3>
    <p class="image-hyperlinks__paragraph">
      Teams of every shape,size,and kind use Quorum to work smarter and move
      fraster across their policy landscape.
    </p>
    <div class="image-hyperlinks__hyperlink">
      <a
        href="#"
        class="image-hyperlinks__hyperlink-text image-hyperlink__animation"
        >Learn About Our Products</a
      >
    </div>
  </div>
  <div class="image-hyperlink__grid">
    <div class="image-hyperlink__grid__content">
      <div><img src="images/Federal-69wx59h.png" alt="" /></div>
      <a
        href="#"
        class="image-hyperlinks__hyperlink-text image-hyperlink__animation image-hyperlinks__hyperlink-text--accent"
        >Federal</a
      >
    </div>
    <div class="image-hyperlink__grid__content">
      <div><img src="images/States-69wx59h.png" alt="" /></div>
      <a
        href="#"
        class="image-hyperlinks__hyperlink-text image-hyperlink__animation image-hyperlinks__hyperlink-text--accent"
        >States</a
      >
    </div>
    <div class="image-hyperlink__grid__content">
      <div><img src="images/Grassroots-69wx59h.png" alt="" /></div>
      <a
        href="#"
        class="image-hyperlinks__hyperlink-text image-hyperlink__animation image-hyperlinks__hyperlink-text--accent"
        >Grassroots</a
      >
    </div>
    <div class="image-hyperlink__grid__content">
      <div><img src="images/Stakeholder-69wx59h.png" alt="" /></div>
      <a
        href="#"
        class="image-hyperlinks__hyperlink-text image-hyperlink__animation image-hyperlinks__hyperlink-text--accent"
        >Stakeholder</a
      >
    </div>
    <div class="image-hyperlink__grid__content">
      <div><img src="images/Local-69wx59h.png" alt="" /></div>
      <a
        href="#"
        class="image-hyperlinks__hyperlink-text image-hyperlink__animation image-hyperlinks__hyperlink-text--accent"
        >Local</a
      >
    </div>
    <div class="image-hyperlink__grid__content">
      <div><img src="images/International-69wx59h.png" alt="" /></div>
      <a
        href="#"
        class="image-hyperlinks__hyperlink-text image-hyperlink__animation image-hyperlinks__hyperlink-text--accent"
        >International</a
      >
    </div>
    <div class="image-hyperlink__grid__content d">
      <div><img src="images/EU-Website.png" alt="" /></div>
      <a
        href="#"
        class="image-hyperlinks__hyperlink-text image-hyperlink__animation image-hyperlinks__hyperlink-text--accent"
        >European Unions</a
      >
    </div>
  </div>
</section>
