<section class="text-image-button">
  <div class="container text-image-button__content">
    <div class="text-image-button__header">
      <h3>
        Learn why public affairs professionals use Quorum software to work
        smarter and move faster
      </h3>
      <div class="input-group">
        <input
          type="email"
          class="input__field"
          placeholder="Enter your work email"
        />
        <button class="input__button button--color" type="button">
          Request Demo
        </button>
      </div>
    </div>
    <img
      src="images/hero-graphic-woman-1-fixed.png"
      alt=""
      class="text-image-button__image"
    />
  </div>
</section>
